flows_search.json
[
    {
        "id": "e3830d3a.482b2",
        "type": "inject",
        "z": "bb81f63b.f32678",
        "name": "",
        "topic": "",
        "payload": "21 Cotham Lawn Road",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 149,
        "y": 191,
        "wires": [
            [
                "18964463.0c107c"
            ]
        ]
    },
    {
        "id": "67feb223.fc3abc",
        "type": "http request",
        "z": "bb81f63b.f32678",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://api.ordnancesurvey.co.uk/places/v1/addresses/find?query={{{payload}}}&key={{{key}}}&maxresults=1&output_srs=WGS84",
        "tls": "",
        "x": 529.5,
        "y": 188,
        "wires": [
            [
                "1a06dee9.906521"
            ]
        ]
    },
    {
        "id": "18964463.0c107c",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "os",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 367,
        "y": 189,
        "wires": [
            [
                "67feb223.fc3abc"
            ]
        ]
    },
    {
        "id": "99911dd4.28525",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "Address found?",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 565.5,
        "y": 333,
        "wires": []
    },
    {
        "id": "1a06dee9.906521",
        "type": "json",
        "z": "bb81f63b.f32678",
        "name": "",
        "pretty": false,
        "x": 674.5,
        "y": 188,
        "wires": [
            [
                "b6c50e7d.4e8b3"
            ]
        ]
    },
    {
        "id": "b6c50e7d.4e8b3",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "Move the interesting data down",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results[0].DPA",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.UPRN",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "payload.LAT",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "payload.LNG",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "property",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-home",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.zoom",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "99911dd4.28525",
                "5041ef9f.1e37",
                "e99221e6.23c42"
            ]
        ]
    },
    {
        "id": "55eebf56.f97aa",
        "type": "ui_text_input",
        "z": "bb81f63b.f32678",
        "name": "",
        "label": "Please enter address",
        "group": "db2fdfb4.8776a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 130,
        "y": 91,
        "wires": [
            [
                "18964463.0c107c",
                "19e3423a.f1105e",
                "c8dccd37.f64b1"
            ]
        ]
    },
    {
        "id": "5041ef9f.1e37",
        "type": "link out",
        "z": "bb81f63b.f32678",
        "name": "Send information",
        "links": [
            "f9dbba91.cd3188"
        ],
        "x": 667.5,
        "y": 299,
        "wires": []
    },
    {
        "id": "19e3423a.f1105e",
        "type": "link out",
        "z": "bb81f63b.f32678",
        "name": "",
        "links": [
            "b3053620.722cb8"
        ],
        "x": 488.5,
        "y": 90,
        "wires": []
    },
    {
        "id": "e99221e6.23c42",
        "type": "delay",
        "z": "bb81f63b.f32678",
        "name": "Wait a second to allow things to stabilise",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 464,
        "y": 399,
        "wires": [
            [
                "a37e5deb.23552",
                "1c581e45.4bd4b2"
            ]
        ]
    },
    {
        "id": "a37e5deb.23552",
        "type": "template",
        "z": "bb81f63b.f32678",
        "name": "Move map",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"command\":{\n    \"layer\":\"UK OS Light\",\n    \"lat\":\"{{{payload.lat}}}\",\n    \"lon\": \"{{{payload.lon}}}\",\n    \"zoom\": 20\n}\n}",
        "output": "json",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "1c581e45.4bd4b2"
            ]
        ]
    },
    {
        "id": "1c581e45.4bd4b2",
        "type": "link out",
        "z": "bb81f63b.f32678",
        "name": "Send search to map",
        "links": [
            "856c4296.b51aa"
        ],
        "x": 856.5,
        "y": 398,
        "wires": []
    },
    {
        "id": "d74c8826.7ff8d8",
        "type": "comment",
        "z": "bb81f63b.f32678",
        "name": "Send search information to the Property Information tab",
        "info": "",
        "x": 563.5,
        "y": 55,
        "wires": []
    },
    {
        "id": "5765fcd1.f352b4",
        "type": "comment",
        "z": "bb81f63b.f32678",
        "name": "Ask the OS to locate the address",
        "info": "",
        "x": 474.5,
        "y": 147,
        "wires": []
    },
    {
        "id": "3d4fcabc.6c3f06",
        "type": "comment",
        "z": "bb81f63b.f32678",
        "name": "Send address details to Property Information tab",
        "info": "",
        "x": 699.5,
        "y": 266,
        "wires": []
    },
    {
        "id": "c8dccd37.f64b1",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "Search entered",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 380.5,
        "y": 111,
        "wires": []
    },
    {
        "id": "db2fdfb4.8776a",
        "type": "ui_group",
        "z": "",
        "name": "Welcome",
        "tab": "1f5188bc.03f477",
        "disp": false,
        "width": "6"
    },
    {
        "id": "1f5188bc.03f477",
        "type": "ui_tab",
        "z": "",
        "name": "Search",
        "icon": "search"
    }
]
