flows_search.json
[
    {
        "id": "23334a9.a1b94b6",
        "type": "worldmap",
        "z": "bb81f63b.f32678",
        "name": "",
        "lat": "51.4709",
        "lon": "-2.6999",
        "zoom": "11",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "panit": "true",
        "x": 786,
        "y": 358,
        "wires": []
    },
    {
        "id": "b868013.59eb7",
        "type": "inject",
        "z": "bb81f63b.f32678",
        "name": "Get keys",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 88,
        "y": 44,
        "wires": [
            [
                "7f000ba3.d4c534"
            ]
        ]
    },
    {
        "id": "e13b44e4.234778",
        "type": "cloudant in",
        "z": "bb81f63b.f32678",
        "name": "",
        "cloudant": "",
        "database": "credentials",
        "service": "property-api-masher-cloudantNoSQLDB",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 448.5,
        "y": 42,
        "wires": [
            [
                "47524b26.b85b04"
            ]
        ]
    },
    {
        "id": "7f000ba3.d4c534",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "Ordnance Survey",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ordnance Survey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 263.5,
        "y": 43,
        "wires": [
            [
                "e13b44e4.234778"
            ]
        ]
    },
    {
        "id": "d47201a8.27d77",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 818.5,
        "y": 42,
        "wires": []
    },
    {
        "id": "47524b26.b85b04",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "Store OS",
        "rules": [
            {
                "t": "set",
                "p": "os",
                "pt": "global",
                "to": "payload.key",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 604,
        "y": 43,
        "wires": [
            [
                "d47201a8.27d77"
            ]
        ]
    },
    {
        "id": "e3830d3a.482b2",
        "type": "inject",
        "z": "bb81f63b.f32678",
        "name": "",
        "topic": "",
        "payload": "21 Cotham Lawn Road",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 133,
        "y": 130,
        "wires": [
            [
                "18964463.0c107c"
            ]
        ]
    },
    {
        "id": "67feb223.fc3abc",
        "type": "http request",
        "z": "bb81f63b.f32678",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://api.ordnancesurvey.co.uk/places/v1/addresses/find?query={{{payload}}}&key={{{key}}}&maxresults=1&output_srs=WGS84",
        "tls": "",
        "x": 534.5,
        "y": 132,
        "wires": [
            [
                "1a06dee9.906521"
            ]
        ]
    },
    {
        "id": "18964463.0c107c",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "os",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 348,
        "y": 133,
        "wires": [
            [
                "67feb223.fc3abc"
            ]
        ]
    },
    {
        "id": "99911dd4.28525",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 678.5,
        "y": 195,
        "wires": []
    },
    {
        "id": "1a06dee9.906521",
        "type": "json",
        "z": "bb81f63b.f32678",
        "name": "",
        "pretty": false,
        "x": 709.5,
        "y": 127,
        "wires": [
            [
                "b6c50e7d.4e8b3"
            ]
        ]
    },
    {
        "id": "b6c50e7d.4e8b3",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "Move the interesting data down",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results[0].DPA",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.UPRN",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "payload.LAT",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "payload.LNG",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "property",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-home",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.zoom",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 277,
        "y": 206,
        "wires": [
            [
                "99911dd4.28525",
                "5041ef9f.1e37",
                "52647812.572ae8"
            ]
        ]
    },
    {
        "id": "f6a26a5c.8c1928",
        "type": "template",
        "z": "bb81f63b.f32678",
        "name": "Add Map",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"command\":{\n    \"map\":{\n        \"name\":\"UK OS Light\",\n        \"url\":\"https://api2.ordnancesurvey.co.uk/mapping_api/v1/service/zxy/EPSG:3857/Light%203857/{z}/{x}/{y}.png?key={{{key}}}\",\n        \"opt\":{ \"minZoom\": 7, \"maxZoom\":20, \"attribution\":\"&copy; Ordnance Survey\" }\n    }\n}\n}",
        "output": "json",
        "x": 514.5,
        "y": 359,
        "wires": [
            [
                "23334a9.a1b94b6",
                "54e7e41.6c84c1c"
            ]
        ]
    },
    {
        "id": "20101d99.e4db12",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "os",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 316,
        "y": 340,
        "wires": [
            [
                "f6a26a5c.8c1928"
            ]
        ]
    },
    {
        "id": "ab16086a.59fb08",
        "type": "inject",
        "z": "bb81f63b.f32678",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 330,
        "wires": [
            [
                "20101d99.e4db12"
            ]
        ]
    },
    {
        "id": "54e7e41.6c84c1c",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 589.5,
        "y": 442,
        "wires": []
    },
    {
        "id": "55eebf56.f97aa",
        "type": "ui_text_input",
        "z": "bb81f63b.f32678",
        "name": "",
        "label": "Please enter address",
        "group": "db2fdfb4.8776a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 130,
        "y": 91,
        "wires": [
            [
                "18964463.0c107c",
                "19e3423a.f1105e"
            ]
        ]
    },
    {
        "id": "5041ef9f.1e37",
        "type": "link out",
        "z": "bb81f63b.f32678",
        "name": "Send information",
        "links": [
            "f9dbba91.cd3188"
        ],
        "x": 662.5,
        "y": 229,
        "wires": []
    },
    {
        "id": "19e3423a.f1105e",
        "type": "link out",
        "z": "bb81f63b.f32678",
        "name": "",
        "links": [
            "b3053620.722cb8"
        ],
        "x": 387.5,
        "y": 92,
        "wires": []
    },
    {
        "id": "f09b0d5f.23323",
        "type": "link in",
        "z": "bb81f63b.f32678",
        "name": "send to map",
        "links": [
            "97431366.5dbde"
        ],
        "x": 524,
        "y": 323,
        "wires": [
            [
                "23334a9.a1b94b6"
            ]
        ]
    },
    {
        "id": "8f521fce.6a1ba",
        "type": "change",
        "z": "bb81f63b.f32678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.command.layer",
                "pt": "msg",
                "to": "UK OS Light",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.command.lat",
                "pt": "msg",
                "to": "payload.lat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.lon",
                "pt": "msg",
                "to": "payload.lon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.zoom",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            },
            {
                "t": "delete",
                "p": "name",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "lat",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "lon",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "layer",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 837,
        "y": 289,
        "wires": [
            [
                "23334a9.a1b94b6"
            ]
        ]
    },
    {
        "id": "a66f3a6b.c62ff8",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 878.5,
        "y": 227,
        "wires": []
    },
    {
        "id": "c1c9d84d.a45728",
        "type": "ui_ui_control",
        "z": "bb81f63b.f32678",
        "name": "",
        "x": 65,
        "y": 430,
        "wires": [
            [
                "c5ed8bb1.38c698",
                "f24d78cc.98bfc8"
            ]
        ]
    },
    {
        "id": "c5ed8bb1.38c698",
        "type": "switch",
        "z": "bb81f63b.f32678",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 197.5,
        "y": 430,
        "wires": [
            [
                "20101d99.e4db12"
            ]
        ]
    },
    {
        "id": "f24d78cc.98bfc8",
        "type": "debug",
        "z": "bb81f63b.f32678",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 381.5,
        "y": 444,
        "wires": []
    },
    {
        "id": "52647812.572ae8",
        "type": "delay",
        "z": "bb81f63b.f32678",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 296.5,
        "y": 278,
        "wires": [
            [
                "20101d99.e4db12",
                "e99221e6.23c42"
            ]
        ]
    },
    {
        "id": "e99221e6.23c42",
        "type": "delay",
        "z": "bb81f63b.f32678",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 503,
        "y": 274,
        "wires": [
            [
                "23334a9.a1b94b6",
                "a37e5deb.23552"
            ]
        ]
    },
    {
        "id": "a37e5deb.23552",
        "type": "template",
        "z": "bb81f63b.f32678",
        "name": "Move map",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"command\":{\n    \"layer\":\"UK OS Light\",\n    \"lat\":\"{{{payload.lat}}}\",\n    \"lon\": \"{{{payload.lon}}}\",\n    \"zoom\": 20\n}\n}",
        "output": "json",
        "x": 671.5,
        "y": 269,
        "wires": [
            [
                "23334a9.a1b94b6",
                "a66f3a6b.c62ff8"
            ]
        ]
    },
    {
        "id": "db2fdfb4.8776a",
        "type": "ui_group",
        "z": "",
        "name": "Welcome",
        "tab": "1f5188bc.03f477",
        "disp": false,
        "width": "6"
    },
    {
        "id": "1f5188bc.03f477",
        "type": "ui_tab",
        "z": "",
        "name": "Search",
        "icon": "search"
    }
]
