flows_information.json
[
    {
        "id": "ab198a70.c48f18",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "ADDRESS -> payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ADDRESS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "5a7394c2.4c20ac",
                "7352a7ed.7d7df8"
            ]
        ]
    },
    {
        "id": "a5fe4c87.85007",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "Address",
        "label": "Address",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 380,
        "wires": []
    },
    {
        "id": "5a7394c2.4c20ac",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 714.5,
        "y": 229,
        "wires": []
    },
    {
        "id": "f9dbba91.cd3188",
        "type": "link in",
        "z": "833aea02.03e6d8",
        "name": "Got address",
        "links": [
            "5041ef9f.1e37"
        ],
        "x": 158.5,
        "y": 264,
        "wires": [
            [
                "ab198a70.c48f18",
                "955764c0.3dae28"
            ]
        ]
    },
    {
        "id": "16d8ad3d.491263",
        "type": "ui_ui_control",
        "z": "833aea02.03e6d8",
        "name": "",
        "x": 570,
        "y": 92,
        "wires": [
            [
                "61c83cab.1b3c54"
            ]
        ]
    },
    {
        "id": "9b5fbe3c.1807",
        "type": "template",
        "z": "833aea02.03e6d8",
        "name": "Switch to view tab",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"tab\":\"Information\"}",
        "output": "json",
        "x": 311.5,
        "y": 90,
        "wires": [
            [
                "16d8ad3d.491263",
                "ce7e279e.a535e8"
            ]
        ]
    },
    {
        "id": "ce7e279e.a535e8",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 571.5,
        "y": 135,
        "wires": []
    },
    {
        "id": "61c83cab.1b3c54",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 749.5,
        "y": 92,
        "wires": []
    },
    {
        "id": "b3053620.722cb8",
        "type": "link in",
        "z": "833aea02.03e6d8",
        "name": "Search entered",
        "links": [
            "19e3423a.f1105e"
        ],
        "x": 166.5,
        "y": 89,
        "wires": [
            [
                "9b5fbe3c.1807"
            ]
        ]
    },
    {
        "id": "bca54ce0.2d2c9",
        "type": "comment",
        "z": "833aea02.03e6d8",
        "name": "User has entered a search, flip the UI to the information tab",
        "info": "",
        "x": 300.5,
        "y": 39,
        "wires": []
    },
    {
        "id": "749136d9.e17fb8",
        "type": "comment",
        "z": "833aea02.03e6d8",
        "name": "address located via OS",
        "info": "",
        "x": 205.5,
        "y": 181,
        "wires": []
    },
    {
        "id": "91fd8584.6b3d88",
        "type": "comment",
        "z": "833aea02.03e6d8",
        "name": "Load info from Property API",
        "info": "",
        "x": 220,
        "y": 400,
        "wires": []
    },
    {
        "id": "955764c0.3dae28",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Store for future",
        "rules": [
            {
                "t": "set",
                "p": "current",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "1cb20a86.6fe265",
                "5a8e8b47.885014"
            ]
        ]
    },
    {
        "id": "1cb20a86.6fe265",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Grab UPRN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.UPRN",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "21c2e443.0f47bc",
                "29c56ade.de7e96",
                "4df77e51.cf428"
            ]
        ]
    },
    {
        "id": "21c2e443.0f47bc",
        "type": "http request",
        "z": "833aea02.03e6d8",
        "name": "Get Landregisters",
        "method": "GET",
        "ret": "txt",
        "url": "https://propertyapi-undominative-homiletics.eu-gb.mybluemix.net/v1/properties/{{{payload}}}/landregisters",
        "tls": "",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "79e9f78.dd22908",
                "7e4e42e2.28a9ac"
            ]
        ]
    },
    {
        "id": "7f8a2656.261b18",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tenure",
        "label": "Tenure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1310,
        "y": 420,
        "wires": []
    },
    {
        "id": "ab43abe0.ffa548",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.landregisters[0].tenure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            [
                "7f8a2656.261b18"
            ]
        ]
    },
    {
        "id": "80ec1d46.f53c1",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "landregisters",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b255f3d3.c523",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "",
        "topic": "",
        "payload": "landregisters",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "ab43abe0.ffa548",
                "72ca72e4.aa0aac",
                "4882776d.8fae98",
                "1dd2e69e.086ff9",
                "3108605a.ffeaf",
                "12f19078.d9def",
                "c4467dcc.77b6b"
            ]
        ]
    },
    {
        "id": "79e9f78.dd22908",
        "type": "json",
        "z": "833aea02.03e6d8",
        "name": "",
        "pretty": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "ab43abe0.ffa548",
                "80ec1d46.f53c1",
                "4882776d.8fae98",
                "1dd2e69e.086ff9",
                "3108605a.ffeaf",
                "12f19078.d9def",
                "c4467dcc.77b6b"
            ]
        ]
    },
    {
        "id": "7352a7ed.7d7df8",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Add newlines",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": "<br>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "a5fe4c87.85007"
            ]
        ]
    },
    {
        "id": "72ca72e4.aa0aac",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "extract address",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.landregisters[0].address",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 380,
        "wires": [
            [
                "7352a7ed.7d7df8"
            ]
        ]
    },
    {
        "id": "4882776d.8fae98",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "extract price",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.landregisters.groups[category=\"OWNERSHIP\"].entries[role_code=\"RPPD\"].infills[type=\"PRICE\"].text&' ('&\t\t$substringBefore(payload.landregisters.groups[category=\"OWNERSHIP\"].entries[role_code=\"RPPD\"].infills[type=\"PRICE\"].infill_id, ' ')&')'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "1176e7b5.a5c9b8"
            ]
        ]
    },
    {
        "id": "1176e7b5.a5c9b8",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Price",
        "label": "Last Sold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1310,
        "y": 500,
        "wires": []
    },
    {
        "id": "29c56ade.de7e96",
        "type": "http request",
        "z": "833aea02.03e6d8",
        "name": "Get Property info",
        "method": "GET",
        "ret": "txt",
        "url": "https://propertyapi-undominative-homiletics.eu-gb.mybluemix.net/v1/properties/{{{payload}}}",
        "tls": "",
        "x": 370,
        "y": 760,
        "wires": [
            [
                "25733a8a.1b20e6",
                "7e4e42e2.28a9ac"
            ]
        ]
    },
    {
        "id": "25733a8a.1b20e6",
        "type": "json",
        "z": "833aea02.03e6d8",
        "name": "",
        "pretty": false,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "329280e0.2a511",
                "d6de11ae.81087"
            ]
        ]
    },
    {
        "id": "329280e0.2a511",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "8aec085f.e5c9a8"
            ]
        ]
    },
    {
        "id": "8aec085f.e5c9a8",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Value",
        "label": "Valuation",
        "format": "£{{msg.payload}}",
        "layout": "row-spread",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "b9c12dee.18c49",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "",
        "topic": "",
        "payload": "/worldmap",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "d347b470.7a14b8"
            ]
        ]
    },
    {
        "id": "413fb376.8fc41c",
        "type": "ui_template",
        "z": "833aea02.03e6d8",
        "group": "5176a7c5.1e02d8",
        "name": "",
        "order": 0,
        "width": "16",
        "height": "16",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 508,
        "y": 1103,
        "wires": [
            []
        ]
    },
    {
        "id": "d347b470.7a14b8",
        "type": "template",
        "z": "833aea02.03e6d8",
        "name": "embed map",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload}}} height=800px width=800px ></iframe>",
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "413fb376.8fc41c"
            ]
        ]
    },
    {
        "id": "d6de11ae.81087",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "propertyinfo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a71d5f76.e5a66",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "",
        "topic": "",
        "payload": "propertyinfo",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 850,
        "y": 700,
        "wires": [
            [
                "329280e0.2a511"
            ]
        ]
    },
    {
        "id": "3c5ab103.655f4e",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "",
        "topic": "",
        "payload": "/",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd2e69e.086ff9",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract boundary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.landregisters.geometry.extent.geometry.coordinates",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "5ab4db90.72db54"
            ]
        ]
    },
    {
        "id": "5ab4db90.72db54",
        "type": "function",
        "z": "833aea02.03e6d8",
        "name": "Convert to WGS84",
        "func": "var wgs84 = [];\nvar proj4 = context.global.proj4;\nproj4.defs(\"EPSG:27700\",\"+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=400000 +y_0=-100000 +ellps=airy +datum=OSGB36 +units=m +no_defs\");\n\nfor(var coordinate in msg.payload){\n    var coord = proj4('EPSG:27700', 'WGS84', msg.payload[coordinate]);\n    wgs84.push([coord[1],coord[0]]);\n}\nmsg.payload = {\"area\":wgs84, \"name\":\"boundary\",\"layer\":\"property\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 620,
        "wires": [
            [
                "97431366.5dbde"
            ]
        ]
    },
    {
        "id": "97431366.5dbde",
        "type": "link out",
        "z": "833aea02.03e6d8",
        "name": "",
        "links": [
            "f09b0d5f.23323",
            "856c4296.b51aa"
        ],
        "x": 1315,
        "y": 620,
        "wires": []
    },
    {
        "id": "3108605a.ffeaf",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract rent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.landregisters.groups[category=\"DEED\"].entries[role_code=\"DRNT\"].full_text",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "2453d5f5.8bef2a"
            ]
        ]
    },
    {
        "id": "98d955ac.d160b8",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Rent",
        "label": "Rent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1310,
        "y": 460,
        "wires": []
    },
    {
        "id": "2453d5f5.8bef2a",
        "type": "function",
        "z": "833aea02.03e6d8",
        "name": "Extract price from text",
        "func": "if(\"undefined\" == typeof msg.payload){\n    node.send({\"payload\":0});\n}\nelse{\nvar rePattern = new RegExp(/of (£.*) created/);\nvar arrMatches = msg.payload.match(rePattern);\nvar rent = arrMatches[1];\nmsg.payload = rent;\nreturn msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "98d955ac.d160b8"
            ]
        ]
    },
    {
        "id": "12f19078.d9def",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract Restrictions",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$count(payload.landregisters.groups[category=\"DEED\"].entries[role_code=\"SSCH\"])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 540,
        "wires": [
            [
                "e4a9295f.cf0568"
            ]
        ]
    },
    {
        "id": "e4a9295f.cf0568",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Restrictions",
        "label": "Restrictions",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 540,
        "wires": []
    },
    {
        "id": "c4467dcc.77b6b",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract owners",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.landregisters.groups[category=\"OWNERSHIP\"].entries[role_code=\"RPRO\"].infills.proprietors[0].name.forename &  ' ' & payload.landregisters.groups[category=\"OWNERSHIP\"].entries[role_code=\"RPRO\"].infills.proprietors[0].name.surname & ' and ' & payload.landregisters.groups[category=\"OWNERSHIP\"].entries[role_code=\"RPRO\"].infills.proprietors[1].name.forename &  ' ' & payload.landregisters.groups[category=\"OWNERSHIP\"].entries[role_code=\"RPRO\"].infills.proprietors[1].name.surname",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 580,
        "wires": [
            [
                "fa4f1638.83a5b8"
            ]
        ]
    },
    {
        "id": "fa4f1638.83a5b8",
        "type": "ui_text",
        "z": "833aea02.03e6d8",
        "group": "4b572e75.fee4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Owners",
        "label": "Owners",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 580,
        "wires": []
    },
    {
        "id": "5a8e8b47.885014",
        "type": "http request",
        "z": "833aea02.03e6d8",
        "name": "Get TPOS",
        "method": "GET",
        "ret": "txt",
        "url": "https://opendata.bristol.gov.uk/api/records/1.0/search/?dataset=tree-preservation-order-trunk&facet=treetype&facet=comments&facet=tpstatus&geofilter.distance={{{payload.lat}}}%2C{{{payload.lon}}}%2C100",
        "tls": "",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "9487c6a9.2d45a8"
            ]
        ]
    },
    {
        "id": "184b730f.ec234d",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1130,
        "y": 920,
        "wires": []
    },
    {
        "id": "a4417cea.fe477",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tpo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4d7c47.d2dfa",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract geometries",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.records.geometry",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 880,
        "wires": [
            [
                "184b730f.ec234d",
                "3886037d.adcffc"
            ]
        ]
    },
    {
        "id": "b306e633.41cc38",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "",
        "topic": "",
        "payload": "tpo",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 780,
        "y": 820,
        "wires": [
            [
                "ab4d7c47.d2dfa"
            ]
        ]
    },
    {
        "id": "9487c6a9.2d45a8",
        "type": "json",
        "z": "833aea02.03e6d8",
        "name": "",
        "pretty": false,
        "x": 570,
        "y": 880,
        "wires": [
            [
                "ab4d7c47.d2dfa",
                "a4417cea.fe477"
            ]
        ]
    },
    {
        "id": "3886037d.adcffc",
        "type": "function",
        "z": "833aea02.03e6d8",
        "name": "Create TPO markers",
        "func": "for(var coord in msg.payload){\n    node.warn(msg.payload[coord]);\n    var marker = {\"payload\":{\"lat\":msg.payload[coord].coordinates[1],\n                            \"lon\":msg.payload[coord].coordinates[0],\n                            \"icon\":\"fa-tree\",\n                            \"iconColor\":\"green\",\n                            \"layer\":\"tpo\",\n                            \"name\":\"tree\"+coord\n    }\n    };\n    node.send(marker);\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 880,
        "wires": [
            [
                "97431366.5dbde"
            ]
        ]
    },
    {
        "id": "7e4e42e2.28a9ac",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "b3ed2b7d.ddd538",
        "type": "comment",
        "z": "833aea02.03e6d8",
        "name": "Load info from Bristol Open Data API",
        "info": "",
        "x": 230,
        "y": 820,
        "wires": []
    },
    {
        "id": "dccf92c7.dd8a3",
        "type": "comment",
        "z": "833aea02.03e6d8",
        "name": "Embed the worldmap into the UI tab",
        "info": "",
        "x": 190,
        "y": 1060,
        "wires": []
    },
    {
        "id": "804ed0fa.3a302",
        "type": "comment",
        "z": "833aea02.03e6d8",
        "name": "Load Listed Buildings data from Ordnance Survey",
        "info": "",
        "x": 280,
        "y": 940,
        "wires": []
    },
    {
        "id": "4df77e51.cf428",
        "type": "http request",
        "z": "833aea02.03e6d8",
        "name": "Get Listed Buildings",
        "method": "GET",
        "ret": "txt",
        "url": "https://api2.ordnancesurvey.co.uk/insights/v1/properties/{{{payload}}}/listed-buildings/radius?key={{{key}}}&format=json&radius=1000",
        "tls": "",
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "1f724383.33bfbc"
            ]
        ]
    },
    {
        "id": "5b90294e.67f278",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 710,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1f724383.33bfbc",
        "type": "json",
        "z": "833aea02.03e6d8",
        "name": "",
        "pretty": false,
        "x": 570,
        "y": 1000,
        "wires": [
            [
                "5b90294e.67f278",
                "279b6815.77b5e8",
                "565dba03.7a5114"
            ]
        ]
    },
    {
        "id": "279b6815.77b5e8",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "listed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "5d0f64cf.9f6eac",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "",
        "topic": "",
        "payload": "listed",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 790,
        "y": 960,
        "wires": [
            [
                "565dba03.7a5114"
            ]
        ]
    },
    {
        "id": "565dba03.7a5114",
        "type": "change",
        "z": "833aea02.03e6d8",
        "name": "Extract name and point",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results.[name,geometry.coordinates]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1000,
        "wires": [
            [
                "d3b6ddb6.40a4c",
                "91e3d584.30e408"
            ]
        ]
    },
    {
        "id": "d3b6ddb6.40a4c",
        "type": "function",
        "z": "833aea02.03e6d8",
        "name": "Convert to WGS84",
        "func": "var proj4 = context.global.proj4;\nproj4.defs(\"EPSG:27700\",\"+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=400000 +y_0=-100000 +ellps=airy +datum=OSGB36 +units=m +no_defs\");\n\nfor(var location in msg.payload){\n    var coord = proj4('EPSG:27700', 'WGS84', [msg.payload[location][1],msg.payload[location][2]]);\n    var msg2 = {\"payload\":{\"name\":msg.payload[location][0], \n                           \"layer\":\"listed\", \n                           \"lat\":coord[1], \n                           \"lon\":coord[0],\n                           \"icon\":\"fa-home\",\n                           \"iconColor\":\"blue\"\n    }};\n    node.send(msg2);\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 1000,
        "wires": [
            [
                "97431366.5dbde"
            ]
        ]
    },
    {
        "id": "91e3d584.30e408",
        "type": "debug",
        "z": "833aea02.03e6d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b36be371.f9d0a",
        "type": "inject",
        "z": "833aea02.03e6d8",
        "name": "re-run all",
        "topic": "",
        "payload": "current",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "97431366.5dbde",
                "1cb20a86.6fe265",
                "5a8e8b47.885014"
            ]
        ]
    },
    {
        "id": "4b572e75.fee4e",
        "type": "ui_group",
        "z": "",
        "name": "Property Information",
        "tab": "ba7da5e5.635dc8",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "5176a7c5.1e02d8",
        "type": "ui_group",
        "z": "",
        "name": "Map",
        "tab": "ba7da5e5.635dc8",
        "order": 1,
        "disp": false,
        "width": "16"
    },
    {
        "id": "ba7da5e5.635dc8",
        "type": "ui_tab",
        "z": "",
        "name": "Information",
        "icon": "fa-home"
    }
]
